div.material{
	height:150px;
	/*width:100%;*/
	/*overflow:scroll;*/
	/*overflow-x:hidden;*/
	/*overflow-y:hidden;*/
	background-color:black;
	text-align:center;
	padding:10px;
	background-image:url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTEcMbX6ONCCX6RQF6Cnvu1FAz589DnmorNkMYC9SInOQwHqdCDsg');
	
}
div.material img{
	/*width:100%;*/
	height:100%;
	box-shadow: 3px 3px 3px #000;
}
